/* ==blog creation page */
.tox .tox-promotion, .tox .tox-statusbar{
    display: none !important;
  }
  label{
    font-size: 24px;
    font-weight: 600;
  }
  .input-text{
    padding:  5px;
    border-radius: 5px;
    border: 1px solid #000 ;
  }
  .tox .tox-editor-container{
    border-radius: 10px;
    border: 2px solid #000;
  }
  .meta-text{
    border: 2px solid #000;
    height:200px;
    border-radius: 5px;
  }
  .create-blog-head{
    text-align: center;
    font-size: 44px;
    line-height:54px ;
    font-weight: 700;
  }
  .blogs{
    padding: 56px 0px;
  }
  .blogs h2{
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 30px;
  }
  /* ==buttons== */
  .view-blogs, .submit{
    background-color: #E10000;
    color: #fff;
    border: 1px solid #E10000;
    border-radius: 5px;
  }
  .view-blogs,.view-blogs:hover{
    padding: 5px 20px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
  }
  .submit{
    font-weight: bold;
    font-size: 34px;
    padding: 5px 40px;
  }